<!DOCTYPE html>
<html>
    <head>
        <title>PPPWN OpenWRT PS4</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="pppwn/assets/css/base.css" />
        <link rel="stylesheet" href="pppwn/assets/css/custom.css" />
        <script type="text/javascript" src="pppwn/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="pppwn/assets/js/underscore-min.js"></script>
        <script type="text/javascript" src="pppwn/assets/js/backbone-min.js"></script>
        <script type="text/javascript" src="pppwn/assets/js/plugin.modal.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div id="header">
                    <div class="row">
                        <ul class="menu">
                            <li><a href="">PPPWN</a></li>
                            <li><a href="#/payloads">Payloads</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="appWeb" class="content">
                <script type="text/template" id="webTpl">
                    <form class="form">
                        <% if(pppwn){ %>
                            <fieldset>
                                <div class="row">
                                    <div class="field-group col-4">
                                        <div class="full">
                                            <div class="top-label"><label for="inputRoot">Root</label></div>
                                            <input name="root" required type="text" id="inputRoot" class="sec-auto box" value="<%= root %>">
                                        </div>
                                        <div class="full">
                                            <div class="top-label"><label for="inputTimeout" title="Timeout execution">Timeout</label></div>
                                            <input name="timeout" required type="number" id="inputTimeout" class="sec-auto box" value="<%= timeout %>">
                                        </div>
                                        <div class="full">
                                            <div class="top-label"><label for="inputTimeout" title="Enable auto executable">Autorun</label></div>
                                            <select name="auto" id="switch_pw" class="sec-auto box">
                                                <option <% if(autorun){ %>selected <% } %>value="1">On</option>
                                                <option <% if(!autorun){ %>selected <% } %>value="0">Off</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field-group col-4">
                                        <div class="top-label"><label for="select-ifc">Ethernet</label></div>
                                        <select required id="select-ifc" size="11" class="expand-slc box" name="adapter">
                                        <% interfaces.forEach(function(option, index){ %>
                                            <% if(adapter == option.adapter){ %>
                                            <option selected value="<%= option.adapter %>"><%= option.adapter %></option>
                                            <% }else{ %>
                                            <option value="<%= option.adapter %>"><%= option.adapter %></option>
                                            <% } %>
                                        <% }); %>
                                        </select>
                                    </div>
                                    <div class="field-group col-4">
                                        <div class="top-label"><label for="select-fw">Firmware</label></div>
                                        <select required id="select-fw" class="expand-slc box" size="11" name="version">
                                        <% versions.forEach(function(_version, index){ %>
                                            <% if(version == _version){ %>
                                            <option selected value="<%= _version %>"><%= _version %></option>
                                            <% }else{ %>
                                            <option value="<%= _version %>"><%= _version %></option>
                                            <% } %>
                                        <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="field-group box">
                                    <div class="group-center">
                                        <button type="button" id="action_pw" class="btn-form input-attach sec-auto"></button>
                                        <button type="button" id="params_pw" class="btn-form input-attach sec-auto">Save Settings</button>
                                        <% if(pppoe == 'inactive'){ %>
                                            <button type="button" id="pppoe_pw" class="btn-form input-attach sec-auto">PPPoe start</button>
                                        <% }else{ %>
                                            <button type="button" id="pppoe_pw" value="running" class="btn-form input-attach sec-auto">PPPoe stop</button>
                                        <% } %>
                                        <button type="button" id="update_rep" class="btn-form input-attach sec-auto">Update</button>
                                        <button type="button" id="remove_rep" class="btn-form input-attach sec-auto">Uninstall</button>
                                    </div>
                                </div>
                            </fieldset>
                        <% }else{ %>
                            <fieldset>
                                <div class="field-group">
                                    <div class="box">
                                        <p>Chip architecture: <b><%= chipname %></b></p>
                                        <p><sub>Choose the pppwn compiled option compatible with your device</sub></p>
                                    </div>
                                    <div class="box box-fill">
                                        <div class="center">
                                            <label>Select pppwn</label>
                                            <select name="option">
                                            <% compiled.forEach(function(option, index){ %>
                                                <option value="<%= option.type %>"><%= option.label %></option>
                                            <% }); %>
                                            </select>
                                            <button type="button" id="install_pw" class="btn btn-form">Install</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        <% } %>
                    </form>
                </script>
                <script type="text/template" id="msgTpl">
                    <div class="dialog-box">
                        <button class="md-close" type="button" onclick="$.modal.close();">X</button>
                        <p class="message"><%= message %></p>
                    </div>
                </script>
                <script type="text/template" id="payloadTpl">
                    <form class="form">
                        <legend><%= sec_title %></legend>
                        <fieldset>
                            <div class="field-group">
                                <div class="group-center box">
                                    <% payloads.forEach(function(data, index){ %>
                                    <button type="button" class="btn-basic sent-payload" value="<%= data.href %>"><%= data.name %></button>
                                    <% }); %>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <% linux.forEach(function(data, index){ %>
                            <div class="field-group">
                                <label>Linux payloads <%= data.firmware %></label>
                                <div class="group-center box">
                                    <% data.refs.forEach(function(item, index){ %>
                                    <button type="button" class="btn-basic sent-payload" value="<%= item.href %>"><%= item.name %></button>
                                    <% }); %>
                                </div>
                            </div>
                            <% }); %>
                        </fieldset>
                    </form>
                </script>
            </div>
        </div>
        <div class="container">
            <div id="footer" class="content">
                <sub><a target="_blank" href="https://ko-fi.com/invers3">Support me</a></sub>
                <sub> | </sub>
                <sub><a id="credits" href="#credits">Credits</a></sub>
                <sub> | </sub>
                <sub><a target="_blank" href="https://x.com/Manyajmz">X</a></sub>
                <sub> | </sub>
                <sub><a target="_blank" href="https://github.com/CodeInvers3/">Github</a></sub>
            </div>
        </div>
        <script src="pppwn/main.js"></script>
    </body>
</html>
