<!DOCTYPE html>
<html>
    <head>
        <title>PPPWN exploit Mini-Router</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="pppwn/assets/css/base.css" />
        <link rel="stylesheet" href="pppwn/assets/css/custom.css" />
        <script type="text/javascript" src="pppwn/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="pppwn/assets/js/underscore-min.js"></script>
        <script type="text/javascript" src="pppwn/assets/js/backbone-min.js"></script>
        <script type="text/javascript" src="pppwn/assets/js/plugin.modal.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="header" class="content">
                <div class="text-center top-title">
                    <h1>PPPwn web</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="appWeb" class="content">
                <div id="loading_ide" class="box box-fill">
                    <br>
                    <div class="preloader center"></div>
                    <br>
                </div>
                <script type="text/template" id="webTpl">
                    <form class="form">
                        <% if(pppwn){ %>
                            <fieldset>
                                <div class="row">
                                    <div class="field-group col-4">
                                        <div class="top-label"><label for="inputRoot">Root</label></div>
                                        <input name="root" required type="text" id="inputRoot" class="sec-auto box" value="/root">
                                        <br>
                                        <div class="top-label"><label for="inputTimeout" title="Timeout">Timeout</label></div>
                                        <input name="timeout" required type="number" id="inputTimeout" class="sec-auto box" value="<%= timeout %>">
                                    </div>
                                    <div class="field-group col-4">
                                        <div class="top-label"><label for="select-ifc">Ethernet</label></div>
                                        <select required id="select-ifc" size="5" class="expand-slc box" name="adapter">
                                        <% interfaces.forEach(function(option, index){ %>
                                            <% if(adapter == option.adapter){ %>
                                            <option selected value="<%= option.adapter %>"><%= option.adapter %></option>
                                            <% }else{ %>
                                            <option value="<%= option.adapter %>"><%= option.adapter %></option>
                                            <% } %>
                                        <% }); %>
                                        </select>
                                    </div>
                                    <div class="field-group col-4">
                                        <div class="top-label"><label for="select-fw">Firmware</label></div>
                                        <select required id="select-fw" class="expand-slc box" size="5" name="version">
                                        <% versions.forEach(function(_version, index){ %>
                                            <% if(version == _version){ %>
                                            <option selected value="<%= _version %>"><%= _version %></option>
                                            <% }else{ %>
                                            <option value="<%= _version %>"><%= _version %></option>
                                            <% } %>
                                        <% }); %>
                                        </select>
                                    </div>
                                </div>
                                <div class="field-group box">
                                    <div class="col-group group-center">
                                        <button type="button" id="action_pw" class="btn-form input-attach sec-auto"></button>
                                        <button type="button" id="switch_pw" class="btn-form input-attach sec-auto"></button>
                                        <% if(pppoe == 'inactive'){ %>
                                            <button type="button" id="pppoe_pw" class="btn-form input-attach sec-auto">PPPoe start</button>
                                        <% }else{ %>
                                            <button type="button" id="pppoe_pw" value="running" class="btn-form input-attach sec-auto">PPPoe stop</button>
                                        <% } %>
                                        <button type="button" id="update_rep" class="btn-form input-attach sec-auto">Update</button>
                                    </div>
                                </div>
                                <div id="task-log">
                                    <textarea readonly class="output"></textarea>
                                </div>
                            </fieldset>
                        <% }else{ %>
                            <fieldset>
                                <div class="field-group">
                                    <div class="box box-fill">
                                        <div class="center">
                                            <label>Select pppwn</label>
                                            <select name="option">
                                            <% compiles.forEach(function(option, index){ %>
                                                <option value="<%= option.type %>"><%= option.label %></option>
                                            <% }); %>
                                            </select>
                                            <button type="button" id="install_pw" class="btn btn-form">Install</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        <% } %>
                    </form>
                </script>
                <script type="text/template" id="msgTpl">
                    <button class="md-close" type="button" onclick="$.modal.close();">X</button>
                    <p class="message"><%= message %></p>
                </script>
            </div>
        </div>
        <div class="container">
            <div id="footer" class="content">
                <sub><a target="_blank" href="https://paypal.me/MarianoJzm?country.x=US&locale.x=en_US">Support me</a></sub>
                <sub> | </sub>
                <sub><a id="credits" href="#credits">Credits</a></sub>
                <sub> | </sub>
                <sub><a target="_blank" href="https://twitter.com/Marianojmz/">X</a></sub>
                <sub> | </sub>
                <sub><a target="_blank" href="https://github.com/CodeInvers3/">Github</a></sub>
            </div>
        </div>
        <script src="pppwn/main.js"></script>
    </body>
</html>
