<!DOCTYPE html>
<html>
    <head>
        <title>PPPWN OpenWRT PS4</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/assets/css/base.css" />
        <link rel="stylesheet" href="/assets/css/custom.css" />
        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/underscore-min.js"></script>
        <script type="text/javascript" src="/assets/js/backbone-min.js"></script>
        <script type="text/javascript" src="/assets/js/plugin.modal.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div id="header">
                    <div class="row">
                        <ul class="menu">
                            <li><a href="">PPPWN</a></li>
                            <li><a href="#/payloads">Payloads</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="appWeb" class="content">
                <script type="text/template" id="webTpl">
                    <form class="form">
                        <% if(pppwn){ %>
                            <fieldset>
                                <div class="row">
                                    <div class="field-group col-6">
                                        <div class="row">
                                            <div class="top-label"><label for="inputRoot">Payload path</label></div>
                                            <input name="path" required type="text" id="inputRoot" class="sec-auto box" value="<%= path %>">
                                        </div>
                                        <div class="row">
                                            <div class="top-label"><label for="inputTimeout" title="Timeout execution">Timeout</label></div>
                                            <input name="timeout" required type="number" id="inputTimeout" class="sec-auto box" value="<%= timeout %>">
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="top-label"><label for="inputAutorun" title="Enable auto executable">Auto Run</label></div>
                                                <div class="sec-auto box">
                                                    <button type="button" class="input-switch" name="auto-run" id="switch_pw">
                                                        <div class="push-circle"></div>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="top-label"><label for="inputAutoretry" title="Enable auto executable">Auto Retry</label></div>
                                                <div class="sec-auto box">
                                                    <button type="button" class="input-switch" name="auto-retry" id="retry_pw">
                                                        <div class="push-circle"></div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="top-label"><label for="inputRealsleep" title="Enable auto executable">Real Sleep</label></div>
                                                <div class="sec-auto box">
                                                    <button type="button" class="input-switch" name="real-sleep" id="sleep_pw">
                                                        <div class="push-circle"></div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field-group col-6">
                                        <div class="full">
                                            <div class="top-label"><label for="select-ifc">Ethernet</label></div>
                                            <select required id="select-ifc" size="8" class="expand-slc box" name="adapter">
                                            <% interfaces.forEach(function(option, index){ %>
                                                <% if(adapter == option.adapter){ %>
                                                <option selected value="<%= option.adapter %>"><%= option.adapter %></option>
                                                <% }else{ %>
                                                <option value="<%= option.adapter %>"><%= option.adapter %></option>
                                                <% } %>
                                            <% }); %>
                                            </select>
                                        </div>
                                        <div class="full">
                                            <div class="top-label"><label for="select-fw">Firmware</label></div>
                                            <select required id="select-fw" class="expand-slc box" size="8" name="version">
                                            <% versions.forEach(function(_version, index){ %>
                                                <% if(version == _version){ %>
                                                <option selected value="<%= _version %>"><%= _version %></option>
                                                <% }else{ %>
                                                <option value="<%= _version %>"><%= _version %></option>
                                                <% } %>
                                            <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="field-group box">
                                    <div class="group-center">
                                        <button type="button" id="action_pw" class="btn-form input-attach sec-auto"></button>
                                        <button type="button" id="save_pw" class="btn-form input-attach sec-auto">Save Settings</button>
                                        <% if(pppoe){ %>
                                            <button type="button" id="pppoe_pw" class="btn-form input-attach sec-auto">PPPoe Stop</button>
                                        <% }else{ %>
                                            <button type="button" id="pppoe_pw" class="btn-form input-attach sec-auto">PPPoe Start</button>
                                        <% } %>
                                        <button type="button" id="remove_rep" class="btn-form input-attach sec-auto">Uninstall</button>
                                        <% if(update){ %>
                                        <button type="button" id="updater_rep" class="btn-form input-attach sec-auto">Update</button>
                                        <% } %>
                                    </div>
                                </div>
                            </fieldset>
                        <% }else{ %>
                            <fieldset>
                                <div class="field-group">
                                    <div class="box">
                                        <p>Chip architecture: <b><%= chipname %></b></p>
                                        <p><sub>Choose the pppwn compiled option compatible with your device</sub></p>
                                    </div>
                                    <div class="box box-fill">
                                        <div class="center">
                                            <label>Select pppwn</label>
                                            <select name="option">
                                            <% compiled.forEach(function(option, index){ %>
                                                <option value="<%= option.type %>"><%= option.label %></option>
                                            <% }); %>
                                            </select>
                                            <button type="button" id="install_pw" class="btn btn-form">Install</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        <% } %>
                    </form>
                </script>
                <script type="text/template" id="msgTpl">
                    <div class="dialog-box">
                        <button class="md-close" type="button" onclick="$.modal.close();">X</button>
                        <p class="message"><%= message %></p>
                        <% if(buttons){ %>
                        <div>
                            <% buttons.forEach(function(button, index){ %>
                            <button class="btn-form btn-message" id="<%= button.id %>" onclick="<%= button.onclick %>"><%= button.label %></button>
                            <% }); %>
                        </div>
                        <% } %>
                    </div>
                </script>
                <script type="text/template" id="payloadTpl">
                    <form class="form">
                        <fieldset>
                        <% if(file_list.length > 0){ %>
                            <% file_list.forEach(function(payloads, index){ %>
                                <% if(!payloads.sub){ %>
                                    <button type="button" class="btn-basic sent-payload" value="<%= payloads.path %>"><%= payloads.label %></button>
                                <% } %>
                                <% }); %>
                                </fieldset>
                                <fieldset>
                                <% file_list.forEach(function(payloads, index){ %>
                                <% if(payloads.sub){ %>
                                    <legend><%= payloads.label %></legend>
                                    <% payloads.dir.forEach(function(payloads, index){ %>
                                        <button type="button" class="btn-basic sent-payload" value="<%= payloads.path %>"><%= payloads.label %></button>
                                    <% }); %>
                                <% } %>
                            <% }); %>
                        <% }else{ %>
                            <p>Put your payloads in /www/payloads or mount your usb device in /www/usb</p>
                        <% } %>
                        </fieldset>
                    </form>
                </script>
            </div>
        </div>
        <div class="container">
            <div id="footer" class="content">
                <sub><a target="_blank" href="https://codeinvers3.netlify.app/#donate">Donate</a></sub>
                <sub> | </sub>
                <sub><a id="credits" href="#credits">Credits</a></sub>
                <sub> | </sub>
                <sub><a target="_blank" href="https://x.com/Manyajmz">X</a></sub>
                <sub> | </sub>
                <sub><a target="_blank" href="https://github.com/CodeInvers3/">Github</a></sub>
            </div>
        </div>
        <script src="/assets/js/main.js"></script>
    </body>
</html>
